*{
    font-family: Georgia, 'Times New Roman', Times, serif;
     box-sizing: border-box;
}
#overall{
    display: flex;
    flex-direction: row;
position: relative;
}
#logo{
    background-color: black;
    opacity: 50%;
    position: absolute;
    height: 120px;
    top: 150px;
    font-size: xx-large;
    width: 35vw;
    display: flex;
    justify-content: center;  
    align-items: center;      
    gap: 15px;
}
#left>img{
    width: 35vw;
    height: 100vh;
    margin: 0%;
}
#left{
    width: 35vw;
}
#right{
    display: flex;
    flex-direction: column;
    width: 65vw;
    margin: 0%;
    
}
#rightTop, #rightBottom{
    background-color: rgba(179, 157, 167, 0.082);
}
#text{
    margin-top: 100px;
    margin-left: 25px;
    margin-right: 100px;
    margin-bottom: 40px;
    font-size: 22px;
    font-weight: 500;
}
#headMiddle{
    font-size: x-large;
    margin-left: 25px;
    margin-top: 10px;
}
#rightMiddle{
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    max-height: 500px;
    margin-right: 400px;
    column-gap: 25px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}
#rightMiddle>div{
    font-size: xx-small;
}
#button{
    border-radius: 7%;
    margin: 0%;
    background-color: darkgreen;
    border-width: 1px;
    width: 150px;
    color: aliceblue;
    margin-top: 20px;
    margin-left: 25px;
    height: 32px;
    border: none;
}
input:focus{
border-color: blue;
border-width: 1px;
outline: none;
}
#lowerText{
    margin-top: 20px;
    margin-left: 25px;
    margin-bottom: 50px;
}
#login{
    color: darkgreen;
}
#rightBottom{
    
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    
}

#odinLogo{
    height: 100px;
    width: 100px;
    margin-left: 10%;
    margin-top: 2%;
}

#logo span{
    color: white;
    font-size: 5vw;
    font-weight: bolder;
    
    text-align: center;
}
